// Resets

@font-face {
  font-family: 'Electrical';
  src: url('./assets/electrical.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
p {margin: 0;}
.app {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(12px + 2vmin);
  color: white;
}
.responsive {
  width: 100%;
  height: auto;
}

// component styling

.app-header {
  text-align: center;
  font-size: 20;
}
.header-txt {
  margin-top: 2rem;
  margin-bottom: 0;
  color: #54a1ff;
  font-family: 'Electrical';
  text-shadow: 0 0 5px #fff,
  0 0 10px #fff,
  0 0 15px #0073e6,
  0 0 20px #0073e6,
  0 0 25px #0073e6,
  0 0 30px #0073e6,
  0 0 35px #0073e6;
}
.location {
  height: 3rem;
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}
.zipInputWrapper { align-self: flex-end;}
.zipInput {
  height: 2.45em;
  min-width: 50vw;
  outline: none;
  padding-left: 1rem;
  border: none;
  border-radius: 0.2em;
}
.submitBtn {
  font-size: .62em;
  height: 3.1em;
  margin-left: 0.50em;
  padding: 0.9em 0.5em;
  border: none;
  border-radius: 0.2em;
  outline: none;
  font-family: 'Electrical';
  color: #fff;
  background-color: #54a1ffe8;
}
.date {margin: 0}
.location>img { 
  align-self: flex-end; 
  margin-left: 1rem;
  margin-bottom: 0.4rem;
}
.today { padding: 0 1rem }
.mediaObj-sm {
  padding-top: 0.3rem;
  display: flex;
}
.forcast-img {
  max-height: 36px; 
  max-width: 36px;
  background-color: none;
  flex: 1;
}
.forcast-txt {flex: 1; padding-top: 0.5rem}
.mediaObjWrapper {
  margin-top: 2rem;
  display: flex;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 0.5rem 1rem;
}
.img-sm {
  max-height: 36px;
  max-width: 36px;
  align-self: center;
  flex: 1;
}
.info {
  flex: 1;
  margin-left: 1.5rem;
}
.humidity {
  margin: 0; 
  padding-left: 10;
}

@media only screen and (min-width: 440px) {
  .submitBtn { font-size: 0.52em;}
}

@media only screen and (min-width: 550px) {
  .location>h3 {margin-top: 0.75rem;}
  .zipInput { min-width: 70vw; height: 2.7em;}
}

@media only screen and (min-width: 660px) {
  .zipInput { min-width: 75vw;}
}

@media only screen and (min-width: 768px) {
  .zipInput { min-width: 78vw;}
}

@media only screen and (min-width: 960px) {
  .zipInput { min-width: 80vw; height: 2.9em}
}
